<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="config/app.php"
         colors="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="true">
         <testsuites>
            <testsuite name="unit_test">
                <directory suffix="Test.php" phpVersion="7.4.0" phpVersionOperator=">=">./test/unit</directory>
            </testsuite>
            <testsuite name="integration_test">
                <directory suffix="Test.php" phpVersion="7.4.0" phpVersionOperator=">=">./test/integration</directory>
            </testsuite>
        </testsuites>
</phpunit>